@using Durandal.Common.Monitoring
@using System.Linq
@namespace Durandal.MonitorConsole.Views

<div id="header" class="flex flexBoxColumnFlow">
    <div class="flex flexBoxRowFlow flex-center">
        <img src="/content/logo.png" class="logo">
        <a href="/dashboard">
            <div class="headerItem">
                Dashboard
            </div>
        </a>
        <!--<a href="/alerts">
        <div class="headerItem">
            Alerting
        </div>
    </a>
    <a target="_blank" href="https://analytics.applicationinsights.io/subscriptions/a4f207ac-6329-4af9-8245-6ce13c0fc425/resourcegroups/DoradoMonitoring/components/DoradoMonitoringInsights#/discover/query/results/chart?title=All%20tests%20pass%20rate&shared=true&apptype=other&resourceId=%252Fsubscriptions%252Fa4f207ac-6329-4af9-8245-6ce13c0fc425%252Fresourcegroups%252FDoradoMonitoring%252Fproviders%252Fmicrosoft.insights%252Fcomponents%252FDoradoMonitoringInsights">
        <div class="headerItem">
            Analytics
        </div>
    </a>
    <a target="_blank" href="https://microsoft.sharepoint.com/teams/doradotaskforce/_layouts/15/WopiFrame.aspx?sourcedoc={e9f7b491-2648-4c91-9a48-8a26b3b632c2}&action=edit&wd=target%28%2F%2FDRI%20Info.one%7Cf6b481d2-4e11-4d84-83f1-956948eeaa8c%2FDorado%20monitoring%20framework%7C06f0cf79-ec40-44ec-b66f-6c1a8af2eab0%2F%29">
        <div class="headerItem">
            DRI Info
        </div>
    </a>-->
    </div>
</div>
