@namespace DurandalServices.Instrumentation.Analytics.Html
@var string ChartElement1
@var string ChartElement2

<div class="flex flexBoxRow">
    <div class="flex flex1 chart">
        ${ChartElement1}
    </div>
    <div class="flex flex1 chart">
        ${ChartElement2}
    </div>
</div>