@namespace DurandalServices.Wayfinder

<!DOCTYPE html>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<html>
    <head>
        <title>Durandal Analytics</title>
    </head>
    <body>
        <h1>Wayfinder</h1>
		<form action="/trace">
		Enter your TraceId here: <input type="text" name="traceId">
		<input type="submit" value="Submit">
    </body>
</html>

