@var IList<CarouselItem> Items
@var string HeaderText
@Namespace Durandal.Answers.Botlets

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css" />
        <link href="/views/common/global_html5.css" rel="stylesheet" type="text/css" />
        <link href="/views/common/flexbox.css" rel="stylesheet" type="text/css" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>Results</title>
        ${new Durandal.CommonViews.DynamicTheme().Render()}
    </head>
    <body class="globalBgColor globalFgColor globalFontStyle globalFontColor">
        <h1>${HeaderText}</h1>
        <for each='var item in Items'>
            <div>
                <img width="150px" class="pure-img" style="display:inline" src="${item.ImageUrl}" />
                <if condition='!string.IsNullOrWhiteSpace(item.LinkUrl)'>
                    <a href="${item.LinkUrl}" class="globalLinkColor">${item.LinkText}</a><br />
                </if>
                <else>
                    ${item.LinkText}<br />
                </else>
            </div>
        </for>
    </body>
</html>