sentiment/negative	you suck
sentiment/negative	that sucks
sentiment/negative	gay
sentiment/negative	blah
sentiment/negative	garbage
sentiment/negative	worthless program
sentiment/negative	stupid computer
sentiment/negative	why are you so bad
sentiment/negative	you are terrible
sentiment/negative	i hate you