sentiment/positive	thanks
sentiment/positive	thank you
sentiment/positive	you're great
sentiment/positive	fantastic
sentiment/positive	amazing
sentiment/positive	you're the best
sentiment/positive	you're a champ
sentiment/positive	I like you
sentiment/positive	You're awesome
sentiment/positive	you're amazing
sentiment/positive	you rock
sentiment/positive	awesome
sentiment/positive	superb
sentiment/positive	ultra
sentiment/positive	sweet