@var string TypeName
@var string EntityText
@var string Image
@var string Description
@namespace Durandal.Plugins.Bing.Views

<img class="entityImage" src="${Image}">
<div class="entityTopShadow"></div>
<div class="entityBottomShadow"></div>
<span class="entityTypeName">Type: ${TypeName}</span>
<span class="entityTitle">${EntityText}</span>
<p class="entityDescription">${Description}</p>